body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.liUrlaub, .liPraktikum {
  list-style-type: none;
}
header, footer, form {
  background-color: #177279;
  color: black;
  padding: 1em;
  text-align: center;
}
.welcomeLinks {
  background-color: #177279;
  color: black;
  padding: 1em;
  text-align: center;
}
nav a {
  color: black;
  text-decoration: none;
  margin-left: 1em;
  font-family: Arial, sans-serif;
}
main {
  padding: 1em;
  background-color: #177279;
}
.grid {
  display: grid;
  gap: 1em; 
}
.seite1 {
  grid-template-columns: repeat(3, 1fr);
}
.seite2 {
  grid-template-columns: repeat(3, 1fr);
}
.bilder {
  grid-template-columns: repeat(4, 1fr);
}
img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  .seite1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .seite2 {
    grid-template-columns: 1fr;
  }
  .images {
    grid-template-columns: repeat(2, 1fr);
  }
}